# temporary folders
input-cache/**
output/**
temp/**
template/**

# jar files
*.jar

# editing files and folders
.vscode/**

www/*   
!www/package-list.json   
!www/publish.ini

input/images/docker/data/**

examples